In [1]:
%matplotlib inline
import numpy
import pandas

In [21]:
 future_date = pandas.date_range("2017-01-01", "2018-12-31", freq="D", name="ds").to_frame()
 future_date.head(3)

                   ds
ds
2017-01-01 2017-01-01
2017-01-02 2017-01-02
2017-01-03 2017-01-03

In [31]:
import datetime
s = future_date.ds.iloc[0]
e = future_date.ds.iloc[-1]
print(s, e)
t = pandas.date_range(s, e, freq="6M")
t

2017-01-01 00:00:00 2018-12-31 00:00:00

DatetimeIndex(['2017-01-31', '2017-07-31', '2018-01-31', '2018-07-31'], dtype='datetime64[ns]', freq='6M')

In [33]:
from dateutil.relativedelta import relativedelta
ee = t[-1] + relativedelta(months=6)

In [45]:
tt = pandas.Series(t).append(pandas.Series(ee))

In [54]:
for s, e in zip(tt[:-1], tt[1:]):
    s = s.strftime("%Y/%d/%m")
    e = e.strftime("%Y/%d/%m")
    print(s, e)

2017/31/01 2017/31/07
2017/31/07 2018/31/01
2018/31/01 2018/31/07
2018/31/07 2019/31/01

In [ ]:
future_date.columns

In [ ]:
data_df = pandas.read_csv("../data/data.tsv", sep="\t", header=0, index_col="datetime", parse_dates=True)
data_df.head()

In [ ]:
data_df.index

In [ ]:
data_df.rename(columns=dict(datetime="ds"), inplace=True)
data_df.head()

In [ ]:
pandas.to_datetime(["2017-01-01"])